@media (max-width: 800px) {
    /* header */
    header{
        padding: 18px 8px;
    }
    /* section 1*/
    h1{
        font-size: 32px;
    }
    .arrow{
        width: 40px;
        height: 40px;
    }
    /* section 2 */
    h2{
        font-size: 24px;
    }
    .section2{
        padding: 24px 0 8px 24px;
    }
    .cards{
        flex: 0 0 260px;
    }
    /* footer */
    footer{
        padding-block: 24px;
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
    }
    .footer_sec_left,
    .footer_sec_mid,
    .footer_sec_right{
        align-items: center;
    }
    .footer_ul{
        align-items: center;
    }
}